**/.classpath
**/.project
**/.settings/
**/target
**/.idea
**/*.iml
**/bin/
*/src/**/*.js.map
*/src/**/*.js
multibanking-app/.history
**/*.log.gz
**/*.log
*.log.gz
*.log
.DS_Store

pom.xml.versionsBackup
multibanking-app/.sourcemaps
multibanking-app/platforms
